body {
  background-color: lightblue;
  max-width: 1100px;
  min-width: 1100px;
}

.intro {
  color: yellow;
  font-style: italic;
  font-weight: bold;
}

.entries {
  color: pink;
  font-family: times;
  border: solid 3px;
  background-color: green;
  margin-bottom: 20px;
  padding: 10px;
}

.about {
  font-weight: lighter;
  color: white;
}
